body{
  background: Cyan;
}
h1{

}
h2{

}
p{
color: rgb(255, 0, 0);
font-family: Felix Titling;
float: right;
margin-top: 300px;
margin-right: 40px;
letter-spacing: none;
font-size: 40px;
}
.picture{
width: 10vh;
height: 10vh;
border-radius: 25%;
padding: auto;
}
